<!DOCTYPE html>
<html lang="en" ng-app="checkoutSystem">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Prototype</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
    <style>
        video,
        canvas {
            margin-left: 100px;
            margin-top: 35px;
            position: absolute;
        }

    </style>
</head>

<body ng-controller="frogCtrl">
    <!-- Start your project here-->
      <script>
          var frog_size = 0;
          var frog_x = 0;
          var frog_y = 0;
                window.onload = function() {
                    var elements = 0;
                    var video = document.getElementById('video');
                    var canvas = document.getElementById('canvas');
                    var context = canvas.getContext('2d');
                
                    var tracker = new tracking.ColorTracker(['yellow']);
                                   tracking.track('#video', tracker, {
                        camera: true
                    });
                    

                    tracker.on('track', function(event) {
                        context.clearRect(0, 0, canvas.width, canvas.height);
                        event.data.forEach(function(rect) {      
                            frog_size = rect.width * rect.height;
                            frog_x = rect.x;
                            frog_y = rect.y;
                            context.strokeStyle = rect.color;
                            context.strokeRect(rect.x, rect.y, rect.width, rect.height);
                            context.font = '11px Helvetica';
                            context.fillStyle = "#fff";
                            context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
                            context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);
                        });
                    });


                };

            </script>
 

    <div class="container">
        <hr>
        <!--Ad Choices-->
        <div class="row">
            <div ng-repeat="frog in frogs" class="col-md-4">
                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <img id="product.id" class="img-fluid" src="{{ 'img/'+frog.name+ '.jpg'}}" alt="Card image cap">
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">

                        <h4 class="card-title"><b>{{frog.name}}</b></h4>

                        <p class="card-text">Frog Size = {{frog.size}}</p>
                        <p class="card-text">Frog Pond Position X = {{frog.x}}</p>
                        <p class="card-text">Frog Pond Position Y = {{frog.y}}</p>
                        <p class="card-text">Frog is Alive = {{frog.alive_status}}</p>
                    </div>
                    <!--/.Card content-->
                        <button id="total_button" class="btn btn-default" ng-click="capture_width(frog)">Capture Width</button>
                        <button id="total_button" class="btn btn-default" ng-click="capture_position(frog)">Capture Position</button>
                </div>
                <!--/.Card-->
            </div>


            <div class="col-md-4">
                <video id="video" width="600" height="450" preload autoplay loop muted></video>
            <canvas id="canvas" width="600" height="450"></canvas>
      
            </div>

        </div>
        <!--/.Ad Choices-->
        <div class="row">
            
        </div>


    </div>


    <!-- /Start your project here-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- AngularJS Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/inventorysystem.js"></script>
    <script src="js/frogctrl.js"></script>
    <script src="js/tracking-min.js"></script>
</body>

</html>
